
/*OTHEROTHEROTHEROTHER*/

* {
margin: 0;
padding: 0;
}
.header {
position: fixed;
width: 100%;
z-index: 199;
}
.header .header-top {
display: flex;
height: 100px;
background: #eaea0b;
z-index: 99;
padding: 0 calc((100% - 1160px)/2);
}
.header .header-top .h-left {
display: flex;
flex-basis: 0;
justify-content: flex-start;
align-items: center;
flex-grow: 1;
}
.header .header-top .h-left a {
margin-left: 18px;
width: 36px;
height: 36px;
background-size: 100% 100%;
display: flex;
justify-content: center;
align-items: center;
}
.header .header-top .h-left a img {
width: 36px;
height: 36px;
}
.header .header-top .h-right {
display: flex;
flex-basis: 0;
justify-content: flex-end;
align-items: center;
flex-grow: 1;
}
.header .header-top .h-right ul {
display: flex;
align-items: center;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
list-style: none;
}
.header .header-top .h-right ul li {
padding: 0 18px;
white-space: nowrap;
}
.header .header-top .h-right ul li a {
color: #787878;
text-decoration: none;
}
.header .header-top .h-right ul li a:hover {
color: #101741;
}
.header .header-top .h-right ul li .dot {
display: inline-block;
width: 5px;
height: 5px;
border-radius: 50%;
position: relative;
top: -12px;
left: 2px;
}
.header .header-top .h-right .select a {
color: #12183A;
}
.header .header-top .h-right .select .dot {
display: inline-block;
width: 7.5px;
height: 7.5px;
border-radius: 50%;
background: #1ab476;
position: relative;
top: -12px;
left: 2px;
}
.header .header-move1 {
height: 72px;
transition: all 0.8s ease-in-out;
box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.08);
}
.header .header-move2 {
height: 100px;
transition: all 0.8s ease-in-out;
}
@media screen and (min-width: 600px) {
.header .header-top .h-right-close {
display: none;
}
}
@media screen and (max-width: 600px) {
.header .header-top .h-right {
display: none;
}
.header .header-top .h-right-close {
display: flex;
flex-basis: 0;
justify-content: flex-end;
align-items: center;
flex-grow: 1;
margin-right: 1em;
}
.header .header-top .h-right-close svg {
cursor: pointer;
width: 2em;
height: 2em;
}
}
.header-body-background {
width: 100%;
display: flex;
flex-shrink: 0;
background: linear-gradient(to top, #f1f5fb, #f9fcff);
height: 466px;
}
.header-body-background-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}
.header-body-background-content h2 {
display: flex;
margin-top: 4px;
font-size: 16px;
font-weight: normal;
line-height: 22px;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
color: #12183A;
}
.header-body-background-content span {
display: flex;
height: 152px;
font-size: 36px;
line-height: 48px;
color: #12183A;
align-items: center;
}
.header-body-background-content span img {
width: 56px;
height: 56px;
}
.grouping {
display: flex;
flex-direction: column;
width: 900px;
padding: 64px 40px;
font-size: 1.1rem;
transition: all 0.4s ease-in-out;
}
.grouping p {
font-size: 1.55rem;
margin-bottom: 20px;
font-weight: 500;
line-height: 1.2;
margin-top: 20px;
}
.grouping a {
display: flex;
text-decoration: none;
color: #3C4858;
padding: 20px;
}
.grouping a span {
flex-grow: 1;
}
.grouping a time {
white-space: nowrap;
}
.grouping a:hover {
background: #F8F9FB;
color: #4CA5CE;
border-radius: 6px;
}
@media screen and (max-width: 600px) {
.grouping {
width: 100%;
max-width: 700px;
padding: 50px 15px;
font-size: 1rem;
}
.grouping p {
font-size: 1.5rem;
}
.grouping a {
padding: 15px;
}
}



    .shelter{
        background-color: #333;
        opacity:0.5;
        cursor: pointer;
        display: none; 
        position: fixed;
        left: 0;
        top: 0; 
        right: 0;
        bottom: 0;
        z-index: 1998;
    }
    .sidebar {
        width: 66%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        background: #fff;
        z-index: 1999;
        text-align: center;
        box-shadow: -6px 0 20px rgba(98, 94, 94, .815);
    }

    .topo {
        width: 100%;
        height: 200px;
        background: url(https://api.ixiaowai.cn/gqapi/gqapi.php) no-repeat;
        background-size: 100% 100%;
        position: relative;
        display: flex;
        align-items: flex-end
    }

    .topo h2 {
        color: #fff;
        z-index: 1;
        position: relative;
        margin: 0 0 10px 10px;
        font-size: 1.2em;
        box-sizing: border-box
    }

    .topo:before {
        content: '';
        background-image: url(/image/pattern.png);
        background-repeat: repeat;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1
    }

    .sidebar ul {
        width: 100%;
        margin-top: 50px
    }

    .sidebar ul li {
        height: 50px;
        list-style: none;
        font-size: 1.2em;
        text-align: right;
        margin-right: 10px
    }

    .sidebar ul li a {
        display: grid;
        color: #5d606a;
        text-overflow: ellipsis;
        width: 100%;
        text-decoration: none
    }

    .my_foot {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        position: absolute;
        bottom: 0
    }

    .my_foot a {
        text-decoration: none;
        margin-right: 10px;
        display: inline-block
    }

    .my_foot a img {
        width: 30px;
        height: 30px
    }
