.maintenance-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2cbfbb99;
    z-index: 114514;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    padding: 20px;
    font-size: 50px;

  }
  /*维护窗口Style*/

  
  .maintenance-content {
    pointer-events: auto; 
    justify-content: center;
    font-size: 35px;
  }
/*內容格式*/

  .untouch {
    pointer-events: none;
  }
  /*确保无法控制页面*/