.button {
  border-radius: 4px;
    background-color:#0d548e;
    border: none;
    color: white;
    padding: 15px 30px;
   cursor: pointer;
    font-size: 25px
  }     
/*普通按钮Sccript*/

.button_sidenav {
  border-radius: 4px;
    background-color:#334;
    border: none;
    color: white;
    padding: 12px 30px;
   cursor: pointer;
    font-size: 25px
  }     
/*Unknown Script*/

.dropbtn {
    background-color: #05ccd3;
    color: #464646;
    padding: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  /*redir_pg button 格式*/
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /*redir_pg button 列表內容*/

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    /*redir_pg button 列表格式*/
 
  .dropdown-content a {
    color: #194a8a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /*redir_pg文字格式*/

      .dropdown-content a:hover {background-color: #c6c6c6}
  /*Button list button interact*/

  .dropdown:hover .dropdown-content {
    display: block;
  }



  /*本Script为共用导航列！*/
  .active {
    background-color: #2468d6;
  }
  /*当前页面底色*/





  /*本导航列为旧横向导航列！*/

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #334;
  position: fixed;
  top: 0;
  width: 100%;
}
/*导航列底色格式*/

li {
  float: left;
}
/*导航列默认向左*/

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*按钮文字颜色*/

li a:hover:not(.active) {
  background-color: #111;
}
/*非当前页面底色*/


.Redir{
color: #464646;
padding: 20px;
font-size: 30px;
border: none;
cursor: pointer;
}
/*点击按钮底色*/





  

  
  



 