    .XLRT {
        background-color:#114514;
        border: none;
        color: white;
        padding: 15px 30px;
       cursor: pointer;
        font-size: 25px
      }     
      .image {
        width: 100%;
        }
        body {margin:0;}

